.img7{
  rotate:270deg;
  position:absolute;
  left:-110px;
  height:60px;
  top:-72px;
}
.img8{
  rotate:270deg;
  position:absolute;
  left:-140px;
  height:55px;
  top:-72px;
}
.img9{
  rotate:270deg;
  position:absolute;
  left:-150px;
  height:50px;
  top:-82px;
}
.img10{
  rotate:270deg;
  position:absolute;
  left:-170px;
  height:70px;
  top:-72px;
}
.img11{
  rotate:270deg;
  position:absolute;
  left:-200px;
  height:80px;
  top:-72px;
}
